//- footer structure
#footer
    #footer-content.max-content
        h1 Kontakt
        p Blockchain Department<br>
            a(href="mailto:blockchain-development@schernthaner.dev") blockchain-development@schernthaner.dev 
        p WebEntwicklung Department<br>
            a(href="mailto:web-development@schernthaner.dev") web-development@schernthaner.dev
        p DevOps Department<br>
            a(href="mailto:integrations@schernthaner.dev") integrations@schernthaner.dev
        p Address/Street<br> 2A-8010 Graz

                                                                                                                
    .grid



