body
    include ../headermodule/header.pug
    h1#title i Bims der Flo
    p Sample Paragraph little Text for no use so it better be also no test, well it might say hello, Hello! :D
    a(href="/blog.html") Go to Blog Page

    include ../footermodule/footer.pug
    