/*==============================================================================
RESET
==============================================================================*/
@import '../stylereset/reset.styl'

/*==============================================================================
Global styles
==============================================================================*/
@import '../globalstyles/styles.styl'

/*==============================================================================
Including other components
==============================================================================*/
@import '../allmodules/allstyles.styl'

/*==============================================================================
Indexspecific styles
==============================================================================*/
#home-link
    color cd-pink
    
#title
    color cd-blue

#icon1
    width 100px
    height 100px
    padding 40px
    color green
    overflow hidden

#icon2
    width 200px
    height 200px
    padding 10px
    color orange 

#icon3
    width 200px
    height 200px
    padding 10px
    color red


