// globalstyles

max-content-width = 800px
mobile-side-padding = 15px


// global color variables
//===================================================
cd-pink = #ff34b3
cd-light = #FF00A0
cd-blue = #7704EA
cd-dark = #12035A
cd-black = #000000
cd-funkblue = #55e7ff
cd-deepfunkblue = #00ccfd


body
    color cd-blue

h1
    font-size: 17pt
    letter-spacing: 3.4pt
    text-transform: uppercase
    margin-bottom: 20px

h2
    font-size: 15pt
    letter-spacing: 3pt
    margin-bottom 20px
// Text 12pt Laufweite 0
p
    font-size: 12pt
    letter-spacing: normal
    margin-bottom 10px

a
    color cd-pink



   //h1.super-fat//
  // font-size: 30px//
 //  font-weight bolder//
//===================================================
.max-content
    max-width: max-content-width
    margin: auto
    padding-left: mobile-side-padding
    padding-right: mobile-side-padding


paddingless-max-content-width = (max-content-width + (2 * mobile-side-padding))
@media screen and (min-width: paddingless-max-content-width)
    .max-content
        padding-left: 0
        padding-right: 0

