// globalstyles

// global color variables
//===================================================
cd-pink = #F21373
cd-light = #FF00A0
cd-blue = #7704EA
cd-dark = #12035A

//===================================================
