// globalstyles

max-content-width = 800px

// global color variables
//===================================================
cd-pink = #F21373
cd-light = #FF00A0
cd-blue = #7704EA
cd-dark = #12035A
cd-black = #000000

h1
    font-size: 17pt
    letter-spacing: 3.4pt
    text-transform: uppercase
    margin-bottom: 20px
h2
    font-size: 15pt
    letter-spacing: 3pt
    margin-bottom 20px
// Text 12pt Laufweite 0
p
    font-size: 12pt
    letter-spacing: normal
    margin-bottom 10px

   //h1.super-fat//
  // font-size: 30px//
 //  font-weight bolder//
//===================================================
.max-content
    max-width: max-content-width
    margin: auto
