/*==============================================================================
RESET
==============================================================================*/
@import '../stylereset/reset.styl'

/*==============================================================================
Global styles
==============================================================================*/
@import '../globalstyles/styles.styl'

#blog-link
    color cd-pink
    
/*==============================================================================
Including other components
==============================================================================*/
@import '../allmodules/allstyles.styl'

