//- competencies structure

#competencies.max-content
    #competencies-top
        .competency-section
            svg#pwa-icon.icon: use(href="#svg-pwa-icon")
            h1 Progressive Web Apps
            p Cross-device Userinterfaces. Wir sehen PWAs als geeignetste Technologie für alle unserer Userinterfaces.
        .competency-section
            svg#service-icon.icon: use(href="#svg-service-icon")
            h1 Webservices 
            p Nichts ist so optimal wie ein Netzwerk von entkoppelten unabhängigen Agenten - Webservices.
        .competency-section
            svg#smart-contract-icon.icon: use(href="#svg-smartcontract-icon")
            h1 Smart Contracts
            p die dezentrale sicherhetsebene des Internets um zukünftig Verträge automatisiert abwickeln zu können.
    #competencies-bottom
        .competency-section
            svg#continuous-integration-icon.icon: use(href="#svg-continuous-integration-icon")
            h1 Continuous Integration
            p Zu all dem ist das wichtigste der Entwicklungsprozess selbst. Jede weiterentwicklung soll sich reibungssfrei in das bestehende System integrieren und das sofort.
        
   
    
    
